# Server
PORT=3000
NODE_ENV=development

# OpenSky API
OPENSKY_BASE_URL=url-to-opensky-api-here
OPENSKY_AUTH_URL=url-to-opensky-auth-here
OPENSKY_CLIENT_ID=your_client_id_here
OPENSKY_CLIENT_SECRET=your_client_secret_here

# CORS (comma-separated origins)
CORS_ORIGINS=http://localhost:3000,https://{production_domain_here}

# Admin API
ADMIN_API_KEY=your_secure_random_key_here